{%- include slider.html -%} 

<!-- section -->
<section id="mu-service">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="mu-service-area">
          <!-- Start single service -->
          <div class="mu-service-single">
            <div class="service-title">
              <div class="d-md-inline-flex">
                <div><i class="fas fa-laptop"></i></div>
                <h3>Fasilitas</h3>
              </div>
            </div>
            <div class="">
              <img
                src="{{ site.baseurl }}/images/pelatihan3.jpg"
                class="card-image"
                alt=""
              />
            </div>
            <div class="service-text">
              <p>Kami menawarkan fasilitas terbaik untuk mendukung proses belajar mengajar. Kami menyediakan Chromebook untuk setiap siswa, laboratorium fisika yang lengkap, Smart TV untuk praktikum, dan perpustakaan. Semua fasilitas ini dirancang untuk memberikan pengalaman belajar yang modern dan interaktif bagi siswa-siswi.</p>
              <a href="#" class="btn btn-primary btn-service rounded-pill text-white">Selengkapnya<i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
          </div>
          <!-- Start single service -->
          <div class="mu-service-single">
            <div class="service-title">
              <div class="d-md-inline-flex">
                <div><i class="fas fa-school"></i></div>
                <h3>Tentang Kami</h3>
              </div>
            </div>
            <div class="">
              <img
                src="{{ site.baseurl }}/images/AulaSmpn8.jpg"
                class="card-image"
                alt=""
              />
            </div>
            <div class="service-text">
              <p>SMPN 8 Balikpapan adalah sekolah unggulan rujukan Google yang berkomitmen untuk mencetak generasi berprestasi dan berkarakter. Dengan kurikulum berstandar nasional dan pengajar profesional, kami menyediakan lingkungan belajar yang inspiratif dan inovatif. Bergabunglah dengan kami untuk meraih masa depan gemilang.</p>
              <a href="#" class="btn btn-primary btn-service rounded-pill text-white">Selengkapnya<i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
          </div>
          <!-- Start single service -->
          <div class="mu-service-single">
            <div class="service-title">
              <div class="d-md-inline-flex">
                <div><i class="fas fa-campground"></i></div>
                <h3>Ekstrakurikler</h3>
              </div>
            </div>
            <div class="">
              <img
                src="{{ site.baseurl }}/images/ekstra-tari.jpeg"
                class="card-image"
                alt=""
              />
            </div>
            <div class="service-text">
              <p>Kami menawarkan berbagai ekstrakurikuler seperti tari, bola, pramuka, klub sains, dan olahraga. Setiap kegiatan dirancang untuk mengembangkan bakat, keterampilan sosial, dan kepemimpinan siswa, menjadikan mereka para siswa-siswi yang siap bersaing dan menghadapi tantangan masa depan.</p>
              <a href="#" class="btn btn-primary btn-service rounded-pill text-white">Selengkapnya<i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Book Appointment Start -->
<div class="container-fluid appointment py-5">
  <div class="container py-5">
    <div class="row g-5 align-items-center justify-content-center mt-4">
      <div class="col-lg-8 wow fadeInLeft " data-wow-delay="0.2">
        <div class="section-title text-start">
          <h4 class="sub-title pe-3 mb-3 fs-4 poppins-bolder">Lingkungan SMPN 8 Balikpapan</h4>
          <div class="row g-4">
            <div class="col-lg-5 col-md-5">
              <div class="video h-100">
                <img
                  src="{{ site.baseurl }}/images/LobySmpn8_2.jpg"
                  class="img-fluid rounded w-100 h-100"
                  style="object-fit: cover"
                  alt=""
                />
                <button
                  type="button"
                  class="btn btn-play"
                  data-bs-toggle="modal"
                  data-src="https://www.youtube.com/embed/brwgT-GvUKQ?si=nDoh9mU37gwWL9BK"
                  data-bs-target="#videoModal"
                >
                  <span></span>
                </button>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="d-flex flex-column h-100">
                <div class="mb-4">
                  <p class="mb-0 video1-text">
                    Selamat datang di website SMPN 8 Balikpapan, sekolah yang memiliki visi Beriman dan bertaqwa, 
                    berprestasi, berbudaya dan cinta lingkungan Kami sangat berkomitmen untuk memberikan pendidikan 
                    terbaik bagi para siswa kami dengan fasilitas yang memadai dan tenaga pendidik yang berpengalaman. 
                    Terima kasih sudah mengunjungi website kami dan kami berharap dapat bekerja sama untuk membangun masa 
                    depan yang lebih baik bagi generasi muda.
                  </p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="col-lg-4 wow fadeInRight" data-wow-delay="0.4s" style="max-width: 300px;">
          <div class="team-item rounded">
            <div class="team-img rounded-top">
              <img
                src="{{ site.baseurl }}/images/kepsek.jpeg"
                class="img-fluid rounded-top w-100"
                alt=""
              />
            </div>
            <div class="team-content text-white text-center border border-top-0 rounded-bottom p-1 bg-secondarymain">
              <h5 class="text-white poppins-normal pb-0">Kepala Sekolah</h5>
              <p class="mb-0 text-white poppins-bold">Mugiyatno, S.Pd., M. M</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Video -->
<div
  class="modal fade"
  id="videoModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Video Lingkungan SMPN 8 Balikpapan</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- 16:9 aspect ratio -->
        <div class="ratio ratio-16x9">
          <!-- <iframe  id="video" class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/brwgT-GvUKQ?si=nDoh9mU37gwWL9BK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
          <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/brwgT-GvUKQ?si=nDoh9mU37gwWL9BK"
          id="video"
          allowfullscreen
          allowscriptaccess=""
          allow="autoplay"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Book Appointment End -->

<!-------------- Featured News Slider Start -->
<div class="container-fluid service py-5">
  <div class="container py-5">
    <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.2s">
      <div class="sub-style">
        <h4 class="sub-title px-3 mb-0 fs-4 poppins-bolder">Berita</h4>
      </div>
    </div>
    <div class="news-carousel owl-carousel">
      {% for post in site.posts limit:5 %}
          <div
          class="wow fadeInUp"
          data-wow-delay="0.1s"
          >
            <div class="service-item d-flex justify-content-center">
              <a class="service-img rounded" href="{{ post.url }}">
                <img
                  src="{{site.baseurl}}{{ post.img }}"
                  class="img-fluid rounded w-100"
                  alt="gambar"
                />
                <div class="service-content">
                  <div class="text-white">
                    <span class="user-news-post"><i class="fas fa-user"></i>{{post.author}}</span> <span class="date-news-post"><i class="far fa-calendar-alt"></i>{{post.date | date: "%Y-%m-%d"}}</span>
                    <p>{{post.title}}</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Featured News Slider End -->

<!-- Featured Buletin Start -->
<!-- <div class="container-fluid buletin pb-5">
  <div class="row align-items-center justify-content-center">
    <div class="d-flex col-md-6 justify-content-center buletin-img-first">
      <img src="{{site.baseurl}}/images/buletin-1.png" alt="">
    </div>
    <div class="d-flex col-md-6 justify-content-center buletin-img-secondary">
      <img src="{{site.baseurl}}/images/buletin-2.png" alt="">
    </div>
  </div>
</div> -->
<!-- Featured Buletin End -->

<!-- Gallerys https://source.unsplash.com/random/300x200 -->
<div class="container-fluid service py-5">
  <div class="container py-5">
    <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.2s">
      <div class="sub-style">
        <h4 class="sub-title px-3 mb-0 fs-4 poppins-bolder mb-2">Galeri Spadan</h4>
      </div>
        <div class="row-section"> 
          <div class="column-section">
            <img src="https://picsum.photos/200/300" style="width:100%">
            <img src="https://picsum.photos/200/300" style="width:100%">
            <img src="https://picsum.photos/400/400" style="width:100%">
          </div>
          <div class="column-section">
            <img src="https://picsum.photos/400/400" style="width:100%">
            <img src="https://picsum.photos/200/300" style="width:100%">
            <img src="https://picsum.photos/300/200" style="width:100%">
            <img src="https://picsum.photos/200/300" style="width:100%">
          </div>  
          <div class="column-section">
            <img src="https://picsum.photos/400/200" style="width:100%">
            <img src="https://picsum.photos/200/300" style="width:100%">
            <img src="https://picsum.photos/300/200" style="width:100%">
            <img src="https://picsum.photos/400/400" style="width:100%">
          </div>
          <div class="column-section">
            <img src="https://picsum.photos/400/200" style="width:100%">
            <img src="https://picsum.photos/300/200" style="width:100%">
            <img src="https://picsum.photos/400/200" style="width:100%">
            <img src="https://picsum.photos/400/400" style="width:100%">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Gallerys End -->

<!------------------------------------------------------------------------- section -->
<!-- <div class="section layout_padding padding_bottom-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="heading_main text_align_center">
            <h2><span>News</span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div id="demo" class="carousel slide" data-ride="carousel">
          ---The slideshow
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                {% assign i = 0 %}
                {% for post in site.posts limit:12 %}
                  {% assign i = i | plus: 1 %}
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="full blog_img_popular">
                      <img class="img-responsive" src="{{ post.img }}" alt="#" />
                      <p><a href="{{ post.url | relative_url }}">{{ post.title }}-{{i | modulo:1}}</a></p>
                    </div>
                  </div>
                  ---if i mod 4 = 0
                  {% assign temp = i | modulo:4 %}
                  {% if  temp == 0 %}
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row">
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          ---Left and right controls
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- end section -->

<!-- section -->
<!-- <div class="section layout_padding theme_bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="heading_main text_align_center">
            <h2 class="blue"><span>Gallery </span>Spadan </h2>
          </div>
        </div>
      </div>
      {% for gallery in site.galleries %}
      <div class="col-md-3">
        <div class="full blog_img_popular">
          <a href="{{ site.baseurl }}/{{ gallery.img }}" target="_blank"><img class="img-responsive" src="{{ site.baseurl }}/{{gallery.img}}" alt="#" /></a>
          <h4>{{gallery.title}}</h4>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div> -->
<!-- end section -->
