{%- include slider.html -%} 

<!-- section -->
<section id="mu-service">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="mu-service-area">
          <!-- Start single service -->
          <div class="mu-service-single">
            <div class="service-title">
              <div class="d-md-inline-flex">
                <div><i class="fas fa-laptop"></i></div>
                <h3>Fasilitas</h3>
              </div>
            </div>
            <div class="">
              <img
                src="{{ site.baseurl }}/images/pelatihan3.jpg"
                class="card-image"
                alt=""
              />
            </div>
            <div class="service-text">
              <p>{{ site.fasilitas }}</p>
              <a href="{{ site.baseurl }}/pages/fasilitas" class=""><h5>Selengkapnya<i class="fas fa-long-arrow-alt-right"></i></h5></a>
              <!-- <a href="#" class="btn btn-primary btn-service rounded-pill text-white">Selengkapnya<i class="fas fa-long-arrow-alt-right"></i></a> -->
            </div>
          </div>
          <!-- Start single service -->
          <div class="mu-service-single">
            <div class="service-title">
              <div class="d-md-inline-flex">
                <div><i class="fas fa-school"></i></div>
                <h3>Tentang Kami</h3>
              </div>
            </div>
            <div class="">
              <img
                src="{{ site.baseurl }}/images/AulaSmpn8.jpg"
                class="card-image"
                alt=""
              />
            </div>
            <div class="service-text">
              <p>{{ site.profil-sekolah }}</p>
              <a href="{{ site.baseurl }}/pages/profil-sekolah" class=""><h5>Selengkapnya<i class="fas fa-long-arrow-alt-right"></i></h5></a>
            </div>
          </div>
          <!-- Start single service -->
          <div class="mu-service-single">
            <div class="service-title">
              <div class="d-md-inline-flex">
                <div><i class="fas fa-campground"></i></div>
                <h3>Ekstrakurikler</h3>
              </div>
            </div>
            <div class="">
              <img
                src="{{ site.baseurl }}/images/smpn8_new-foto/ekstra-basket.jpg"
                class="card-image"
                alt=""
              />
            </div>
            <div class="service-text">
              <p>{{ site.ekstrakurikuler }}</p>
              <a href="{{ site.baseurl }}/pages/ekstrakurikuler" class=""><h5>Selengkapnya<i class="fas fa-long-arrow-alt-right"></i></h5></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Book Appointment Start -->
<div class="container-fluid appointment py-5">
  <div class="container py-5">
    <div class="row g-5 align-items-center justify-content-center mt-4">
      <div class="col-lg-8 wow fadeInLeft " data-wow-delay="0.2">
        <div class="section-title text-start">
          <h4 class="sub-title pe-3 mb-3 fs-4 poppins-bolder">Lingkungan SMPN 8 Balikpapan</h4>
          <div class="row g-4">
            <div class="col-lg-5 col-md-5">
              <div class="video h-100">
                <img
                  src="{{ site.baseurl }}{{ site.thumbnail-video }}"
                  class="img-fluid rounded w-100 h-100"
                  style="object-fit: cover"
                  alt=""
                />
                <button
                  type="button"
                  class="btn btn-play"
                  data-bs-toggle="modal"
                  data-src={{site.link-video}}
                  data-bs-target="#videoModal"
                >
                  <span></span>
                </button>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="d-flex flex-column h-100">
                <div class="mb-4">
                  <p class="mb-0 video1-text">
                    {{site.description-video}}
                  </p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="col-lg-4 wow fadeInRight" data-wow-delay="0.4s" style="max-width: 300px;">
          <div class="team-item rounded">
            <div class="team-img rounded-top">
              <img
                src="{{ site.baseurl }}{{site.foto-kepala-sekolah}}"
                class="img-fluid rounded-top w-100"
                alt=""
              />
            </div>
            <div class="team-content text-white text-center border border-top-0 rounded-bottom p-1 bg-secondarymain">
              <h5 class="text-white poppins-normal pb-0">Kepala Sekolah</h5>
              <p class="mb-0 text-white poppins-bold">{{site.nama-kepala-sekolah}}</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Video -->
<div
  class="modal fade"
  id="videoModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title poppins-bold pb-0" id="exampleModalLabel">{{site.title-video}}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- 16:9 aspect ratio -->
        <div class="ratio ratio-16x9">
          <!-- <iframe  id="video" class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/brwgT-GvUKQ?si=nDoh9mU37gwWL9BK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
          <iframe
          class="embed-responsive-item"
          src={{site.link-video}}
          id="video"
          allowfullscreen
          allowscriptaccess=""
          allow="autoplay"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Book Appointment End -->

<!-------------- Featured News Slider Start -->
<div class="container-fluid service py-5">
  <div class="container py-5">
    <div class="section-title mb-4 wow fadeIn" data-wow-delay="0.2s">
      <div class="sub-style">
        <h4 class="sub-title px-3 mb-0 fs-4 poppins-bolder">Berita Terkini</h4>
      </div>
    </div>
    <div class="news-carousel owl-carousel">
      {% assign berita_posts = site.posts | where: "categories", "Berita" %}
      {% for post in berita_posts limit:4 %}
          <div
          class="wow fadeIn"
          data-wow-delay="0.1s"
          >
            <div class="service-item d-flex justify-content-center">
              <a class="service-img rounded" href="{{ post.url | relative_url }}">
                <img
                  src="{{ post.img | relative_url}}"
                  class="img-fluid rounded w-100"
                  alt="gambar"
                />
                <div class="service-content">
                  <div class="text-white">
                    <!--<span class="user-news-post"><i class="fas fa-user"></i>{{post.author}}</span>--><span class="date-news-post"><i class="far fa-calendar-alt"></i>{{post.date | date: "%Y-%m-%d"}}</span>
                    <p>{{post.title}}</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
      {% endfor %}
    </div>
    <div class="news-detail row pt-5">
      <div class="col-md-6">
        <div class="underline-header">
          <h4 class="poppins-bold">Berita lain</h4>
          <div class="underline"></div>
        </div>
        {% assign berita_posts = site.posts | where: "categories", "Berita" %}
        {% for post in berita_posts offset:4 limit:4 %}
          <a class="mini-news" href="{{ post.url | relative_url }}">
          <div class="mini-news-image"><img src="{{ post.img | relative_url}}" alt=""></div>
          <div class="service-content">
              <!-- <span class="user-news-post"><i class="fas fa-user"></i>{{post.author}}</span>--><span class="date-news-post"><i class="far fa-calendar-alt"></i>{{post.date | date: "%Y-%m-%d"}}</span> 
              <p>{{post.title}}</p>
          </div>
          </a>
        {% endfor%}
        <div class="more-news-detail">
          <a href="{{site.baseurl}}/pages/berita" class="">Berita selengkapnya<i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
      </div>
      <div class="col-md-6 mt-5 mt-md-0">
        <div class="underline-header">
          <h4 class="poppins-bold">Pengumuman</h4>
          <div class="underline"></div>
        </div>
        {% assign pengumuman_posts = site.posts | where: "categories", "Pengumuman" %}
        {% for post in pengumuman_posts limit:4 %}
          <a class="mini-news" href="{{ post.url | relative_url }}">
          <!-- <div class="mini-news-image"><img src="{{site.baseurl}}{{ post.img }}" alt=""></div> -->
          <div class="service-content">
              <!-- <span class="user-news-post"><i class="fas fa-user"></i>{{post.author}}</span>--><span class="date-news-post"><i class="far fa-calendar-alt"></i>{{post.date | date: "%Y-%m-%d"}}</span>
              <p>{{post.title}}</p>
          </div>
          </a>
        {% endfor%}
        <div class="more-news-detail">
          <a href="{{site.baseurl}}/pages/pengumuman" class="">Pengumuman selengkapnya<i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>


<!------------------------------------------------------------------------- GALERI -->
<div class="container mt-2 mb-5 pb-5">
  <div class="section-title mb-4 wow fadeIn" data-wow-delay="0.2s">
    <div class="sub-style">
      <h4 class="sub-title px-3 mb-0 fs-4 poppins-bolder">Galeri</h4>
    </div>
  </div>
  <div class="row justify-content-center gallery">
      {% for gallery in site.galleries limit:4 %}
      <div class="col-6 col-md-4 col-lg-3 mb-4">
          <img src="{{site.baseurl}}{{gallery.img}}" alt="{{gallery.title}}" class="img-fluid rounded-1 wow fadeIn" data-bs-toggle="modal" data-bs-target="#imageModal" data-src="{{site.baseurl}}{{gallery.img}}" data-wow-delay="0.2s">
      </div>
      {% endfor %}
      <div class="modal justify-content-center" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content fadeIn">
                  <div class="modal-head">
                      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body rounded-2">
                      <img id="modalImage" src="" alt="" class="rounded-2">
                  </div>
                  <div class="modal-foot">
                      <p id="modalText" class="poppins-normal"></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="d-flex justify-content-center">
    <a class="btn btn-primary rounded-pill text-white px-4" href="{{site.baseurl}}/pages/galeri" style="font-size: 13px;"
            >Selengkapnya
    </a>
  </div>
</div>
<!------------------------------------------------------------------------- section -->

<!-- section -->
<!-- <div class="section layout_padding theme_bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="heading_main text_align_center">
            <h2 class="blue"><span>Gallery </span>Spadan </h2>
          </div>
        </div>
      </div>
      {% for gallery in site.galleries %}
      <div class="col-md-3">
        <div class="full blog_img_popular">
          <a href="{{ site.baseurl }}/{{ gallery.img }}" target="_blank"><img class="img-responsive" src="{{ site.baseurl }}/{{gallery.img}}" alt="#" /></a>
          <h4>{{gallery.title}}</h4>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div> -->
<!-- end section -->
