<div class="header-carousel owl-carousel">
  {%- for slider in site.sliders -%}
  <div class="header-carousel-item">
    <img src="{{ site.baseurl }}{{slider.image}}" class="img-fluid w-100" alt="Image" />
    <div class="carousel-caption">
      <div class="carousel-caption-content p-3">
        <h3
          class="text-white text-uppercase fw-bold mb-4 poppins-normal"
          style="letter-spacing: 3px"
        >
          {{slider.text}}
        </h3>
        <h1 class="display-1 text-capitalize text-white mb-4 fw-bolder">
          {{slider.title}}
        </h1>
        <p class="mb-5 fs-5">

        </p>
        <a
          class="btn btn-primary rounded-pill text-white py-3 px-5"
          href="{{site.baseurl}}{{slider.link}}"
          >{{slider.linktext}}</a
        >
      </div>
    </div>
  </div>
  {%- endfor -%}
</div>
