<!-- section -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<!-- <div class="section tabbar_menu margin-bottom_30">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="tab_menu">
          <ul>
            {% for menu in site.submenu %}
              <li>
                <a href="{{menu.link}}">
                  <span class="icon"><img src="{{menu.icon}}" alt="#" /></span>
                  <span>{{menu.title}}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="padding_top_30">
  <div class="container">
    <div class="row">
      <div class="col text_align_center">
        <ul class="horizontal-list"> <!-- Add class for horizontal alignment -->
          {% for menu in site.submenu %}
            <li>
              <a href="{{menu.link}}">
                <span class="icon"><i class="{{menu.icon}}"></i></span>
                <!-- <span>{{menu.title}}</span> -->
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- end section -->