---
layout: default
---
<div class="archive">
  <div>
    <div>
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    </div>  
  </div>
  <ul class="posts">
    <div class="row g-4 justify-content-center">
    {% assign i = 0 %}
    {% assign berita_posts = site.categories.Berita %}
    {% for post in berita_posts %}
      {% if i==4 %}
      <div>
        <h1 class="post-title p-name" itemprop="name headline">Minggu Lalu</h1>
      </div>
      {% endif %}

      {% if i==8 %}
      <div>
        <h1 class="post-title p-name" itemprop="name headline">Arsip</h1>
      </div>
      {% endif %}

      {% if 7>=i %}
      <div class="col-md-6 col-lg-4 col-xl-3 wow fadeIn" data-wow-delay="0.1s" id="news-container">
        <a href="{{ post.url | relative_url }}" class="hovered-content rounded">
            <div class="rounded-top news-img">
              <div class="hover-image rounded-top" ><div class="btn-square border-i-news rounded-circle me-3"><i class="fas fa-greater-than"></i></div></div>
              <img src="{{ post.img | relative_url}}" class="rounded-top" alt="">
            </div>
            <div class="post-content rounded-bottom p-4">
                <p class="mb-2 poppins-bold news-title">{{ post.title }}</p>
                <div class="separator"></div>
                <span class="user-news-post"><i class="fas fa-user"></i>{{post.author}}</span> <span class="date-news-post"><i class="far fa-calendar-alt"></i>{{post.date | date: "%Y-%m-%d"}}</span>
                <div class="news-text-content">
                  {{ post.excerpt }}
                </div>
            </div>
        </a>
      </div>
        <!-- <div class="col-6">
          <div style="height: 150px;">
            <img style="width: 100%; height: 100%; object-fit: cover;" src="{{ post.img | relative_url}}" />
          </div>
          <div class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a></div>
          <div><span class="post-date">{{ post.date | date: "%b %-d, %Y" }}, oleh {{ post.author }}</span></div>
          <div class="excerpt">{{ post.excerpt }}</div>
        </div> -->
      {% else %}
      <a class="mini-news" href="{{ post.url | relative_url }}">
        <div class="mini-news-image"><img src="{{ post.img | relative_url}}" alt=""></div>
        <div class="service-content">
            <span class="user-news-post"><i class="fas fa-user"></i>{{post.author}}</span> <span class="date-news-post"><i class="far fa-calendar-alt"></i>{{post.date | date: "%Y-%m-%d"}}</span>
            <p>{{post.title}}</p>
        </div>
        </a>
        <!-- <div class="col col-sm-6 col-md-4">
          <div style="height: 150px;">
            <img style="width: 100%; height: 100%; object-fit: cover;" src="{{ post.img | relative_url}}" />
          </div>
          <div class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a></div>
          <div><span class="post-date">{{ post.date | date: "%b %-d, %Y" }}, oleh {{ post.author }}</span></div>
          <div class="excerpt">{{ post.excerpt }}</div>
        </div> -->
      {% endif %}
      {% assign i = i | plus: 1 %}
    {% endfor %}
    </div>
  </ul>
</div>

<style>
  .archive .excerpt p {
    font-size: .9em;
    line-height: 1.3em;
  }
  .archive .title {
    font-size: 1.2em;
    margin-top: 1em;
    line-height: 1.3em;
  }
</style>