---
layout: default
---
<div class="archive">
  <div>
    <div>
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    </div> 
  </div>
  <ul class="posts">
    <div class="row g-4 justify-content-center">
      {% assign i = 0 %}
      {% assign pengumuman_posts = site.categories.Pengumuman %}
      {% for post in pengumuman_posts %}

        {% if i==4 %}
        <div>
          <h1 class="post-title p-name" itemprop="name headline">Arsip</h1>
        </div>
        {% endif %}

        {% if 3>=i %}
        <div class="col-md-6 col-lg-4 col-xl-3 wow fadeIn" data-wow-delay="0.1s" id="news-container">
          <a href="{{ post.url | relative_url }}" class="hovered-content rounded">
              <div class="post-content rounded-bottom p-4">
                  <p class="mb-2 poppins-bold news-title">{{ post.title }}</p>
                  <div class="separator"></div>
                  <!--<span class="user-news-post"><i class="fas fa-user"></i>{{post.author}}</span>--><span class="date-news-post"><i class="far fa-calendar-alt"></i>{{post.date | date: "%Y-%m-%d"}}</span>
                  <div class="news-text-content">
                    {{ post.excerpt }}
                  </div>
              </div>
          </a>
        </div>
        {% else %}
        <a class="mini-news" href="{{ post.url | relative_url }}">
          <div class="service-content">
              <!--<span class="user-news-post"><i class="fas fa-user"></i>{{post.author}}</span>--><span class="date-news-post"><i class="far fa-calendar-alt"></i>{{post.date | date: "%Y-%m-%d"}}</span>
              <p>{{post.title}}</p>
          </div>
          </a>
      {% endif %}
      {% assign i = i | plus: 1 %}
    {% endfor %}
    </div>
  </ul>
</div>

<style>
  .archive .excerpt p {
    font-size: .9em;
    line-height: 1.3em;
  }
  .archive .title {
    font-size: 1.2em;
    margin-top: 1em;
    line-height: 1.3em;
  }
</style>